.checkout{
  /* display:flex; */
  padding:20px;
  height:max-content;
}

/* .checkout_image{
  background-image: url(../../assets/img/collage.jpg);

} */

.basket_empty{
  font-family: 'Ubuntu', sans-serif;
}

.checkout_title{
  background-image: url(../../assets/img/App/BWPrint.jpg);
  object-fit: contain;
  padding:40px;
  background-size: cover;
  background-position:center ;
  color:rgb(255, 0, 119);
  font-family: 'Bowlby One SC', cursive;
  text-align: center;

}

.background_card{
background-image: url(../../assets/img/collage.jpg);
}

