.checkoutProduct{
  display:flex;
  /* margin-top:20px; */
  /* margin-bottom:20px; */
}
.checkoutProduct_image{
  object-fit:contain;
  width:180px;
  height:180px;
}
.checkoutProduct_info{
  padding-left:20px;
}
.checkoutProduct_title{
  font-size:17px;
  font-weight:800;
}

.checkoutProduct_info > button {
  background-color:rgb(240, 9, 240);
  border:1px solid;
  border-color: rgb(255, 166, 0);
}

.checkoutProduct_rating{
  display: flex;
}

.subheading{
  font-size: 20px;
text-align:center;
}

.text-muted{
text-align:center;

}

h5{
font-weight:bold;
font-size:30px;
text-align:center;
}