.productsPage{
  background-image: url(../../assets/img/collage.jpg);
  width:100%;
  max-width:1500px;
  margin-left:auto;
  margin-right:auto;
  object-fit: contain;
  z-index:-1;
  margin-bottom:-150px;
}

ul{
  list-style-type: none;
}
.rowC{
  display:flex; 
  flex-direction:row;
}